<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle title="This is different then that. coment">Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, 
                
                
                
                
                
                
                there's nothing at this address.
            
                coment. I'm 
                bit 
                weak today.'
                This is different then that.
                </p>
        </LayoutView>
    </NotFound>
</Router>
